body{
    background: #f8f9fa;
   /* #CCCCCC;*/
}

a{
    text-decoration: none;
}

.form-text{
    color:#FD0117;
}
/* home page */
 #home--block1{
     height:100vh;
     position: fixed;
     padding:20px;
 }

 #home--block2 i{
     font-size:30px;
     
 }
 .bg-white{
    background:#fff;
 }

 #home--block1 div:nth-child(1){
  
     border-radius: 10px;
     height:120px;
     margin-top:10px;
  
    
 }
#home--block1 div{
    background-color: #fff;
}
 #home--block1 div:nth-child(2){
    border-radius: 10px;
    height:230px;
    margin-top:20px;
  
}

 #home--block3{
    height:100vh;
    position: fixed;
    right:0;
    background:#fff;
    border-radius:10px;
}

#home--block2{
    height:auto;
    position: relative;
    width:60%;
    margin:0 auto;

}

.reunion{
    height:auto;
    background:#fff;
    margin-top:50px;
    border:5px solid #fff;
    border-radius: 10px;
}

.commentaire{
    height:auto;
  background:#fff;
    margin-top:50px;
    border:5px solid #fff;
    border-radius: 10px;
}

.interaction span{
    margin-left:10px;
}

#home--block1 a{
    text-decoration:none;
    margin-left:10px;
}

#home--block1 a i{
    margin-left:10px;
    font-size: 1.3rem;
}

.interaction span i{
    font-size:30px;
    margin-left:60px;
}
.label-reunion{
    background-color: rgb(60, 94, 37);

    background: radial-gradient(  rgb(118, 184, 73),rgb(60, 94, 37));
    color:#fff;
    border-radius:10px;
}

.reunion small{
    color:#96683E ;
    font-weight:bold;
}

 .home-logout i{
  color:#FD0117;
}

.link-dashboard i{
  color:#0878C5;
}

ul#menuWithIcon  li{
    margin:20px !important;
}

#menuWithIcon i{
  font-size: 25px;
}
/* end home page */

/*dashboard part */
.menu-dashboard{
    height:100vh;
    background: radial-gradient(  rgb(118, 184, 73),rgb(60, 94, 37));
     color:#fff !important;

}

.profilUser{
 
    clip-path: circle(50% at 50% 50%);
}

.menu-dashboard a{
    text-decoration: none;
    color:#fff;
}

.item-dashboard{
    margin-top:60px;
 
}

.item-dashboard ul li{
    margin-top:40px;
}

.item-dashboard ul li a{
  color:#fff;

}
.item-dashboard ul li a i{
    font-size: 35px;
}
.exit{
    position:absolute;
    bottom:10%;
    right: 0;
    left: 0;
}

.appName{
    font-size:25px;
    font-weight: bold;
   
}

/*second*/
.content-dashboard{
    position:absolute;
    right:0;
}

.bg-white{
    background:#fff;
  
}

.dash-info div{
    margin-left:5px;
    padding:10px;

}

.vente{

}

.dash-head{
   height:auto;
}

.dash-info {
    margin-top:40px;
}

.dash-info div p{
    font-weight: bold;
    font-size:20px;
}
.dash-info div p span{
    font-weight: inherit;
    color:#dee2e6;
    font-size:initial;
}

.container-search{
    position:relative;
}
.rechercher{
 
        position: absolute;
        top: 16%;
        left: 5%;
        border: none;
        background-color: inherit;

}

#search{
text-align:center;
}


.dash-info div i{
    font-size:30px;
    color:rgb(118, 184, 73);
}

/*
.vente div:nth-child(1){
  
    height:300px;
    margin-top:-20px;
    background:#fff;
    border-radius: 20px;
}
.vente div:nth-child(2){
   
    height:150px;
    float:left;
   margin-left: 15px;
   background:#fff;
   border-radius: 20px;
}

.vente div:nth-child(3){
    
    height:150px;
    float:right;
    margin-left:15px;
    background:#fff;
    border-radius: 20px;
}*/

td span{
    padding:4px;
    color:#fff;
    border-radius:5px;
    height:auto;
}

.identity{
    height:auto;
    
    background:#fff;
    margin-left:5px;
    border-radius: 20px;
}


.image-vente{
    height:250px !important;
    padding:20px;
}

.info-vente p{
    padding:10px;
    background:radial-gradient(  rgb(118, 184, 73),rgb(60, 94, 37));
    color:#fff;
    border-top-left-radius:20px;
}

.info-vente span{
    font-size:40px;
}


/*end dashboard*/

/*delivery*/

.table-delivery{
  height:475px;
    background:#fff;
    border-radius: 20px;
      overflow: scroll;  
}
.update{
    color:#000;
    border-radius:10px;
    margin-bottom:-10px;
}
.delivery{
height:475px;
}

.delivery-form{

}

.delivery input,select{
    height:45px;
    border-radius:10px;
}

.p-right{
margin-right:-40px;

}

.p-left{
    margin-right:20px;
    
    }

/*end*/

/*profil*/
.content-profil{
    position:absolute;
    right:0;
}

.infoUser{
    font-size:17px;


}
.figure{

    height:200px;

}

.table-comment{
    height:180px;
    overflow: scroll;
}
.upper{
 text-transform: uppercase;
}
.last-comment{
  
    height:584px;
     margin-top:40px;
    background-color: #fff;
    border-radius: 20px;
    margin-left:10px;
}

.modify-profil,.others{
  
    background-color: #fff;
    margin-top:40px;
    border-radius: 20px;
    float:right;
}
.others{
    height:100px;
}
.modify-profil{
  height:430px;
  border-radius: 20px;
  padding:5px;
  
}

.container-option{
    margin-left:60px;
}
/*end*/

/* form */
.content-login{
   height:100vh;
}
 .block-form{
     border:1px solid #fff;
     background:#fff;
    border-radius: 20px;
   height:500px;
   margin-top:50px;
 }

 .block-form input{
     border-radius: 20px;
 }

 .formulaire{
     margin-top:-80px;
 }

 .img-logo img{
     margin-top:-20px;
 }

 .formulaire i{
     font-size:30px;
     color:rgb(118, 184, 73);
 }

 .formulaire input[type='submit']{
    background:radial-gradient(  rgb(118, 184, 73),rgb(60, 94, 37));
    outline: none;
    color:#fff;
 }

 .formulaire a{
     color:rgb(63, 63, 63);
     text-decoration: none;
 }
/*end */

/*registrer*/
.registrer{
    height:auto;
    border-radius: 20px;
    padding:5px;
}

.mx-2{
    margin-left:0 !important;
}

.registrer-logo{
    margin-top:-90px;
}

.registrer-form{
    margin-top:-120px;
    height:420px;
    border-radius:20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding:40px;
}

.content-registrer{
    height: 100vh;
    background:url(../images/rice.jpeg);
    background-size:cover;
    background-position:top;
}

.content-registrer .row{
    background:rgba(0,0,0,0.6);
    height:100vh;
}

.link-login{
    color:#000;
    text-decoration: none;
}

/*end*/

/*media query register*/
@media screen and (max-width:750px){
    .registrer-logo{
        margin-top:-80px;
        width:50%;
    }
 .registrer-form {
     width:90%;
     padding:40px;
     margin-top:-450px;
     height:auto;
     border-radius:20px;
   background-color: #fff;
   z-index: 6;
 }

 .rightLeft{
     display:inherit !important;
     justify-content: unset !important;
     
 }
 .rightLeft input,select{
     margin-left:inherit !important;
     margin-right:inherit !important;
     margin-bottom: 1rem!important
 }
 .rightLeft select{
    margin-left:inherit !important;
    margin-right:inherit !important;
    margin-top:10px;
}

.clip{
    clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%);
    height: 100vh;
    background:url(../images/rice.jpeg);
    background-size:cover;
    background-position:top;
    z-index: 4;
}

.content-registrer{
    height:0;
    background:none;
    background-size:none;
    background-position:none;
}
.content-registrer .row{
    background:none;
    height:100vh;
}
}

@media screen and (max-width:600px){
    .registrer-form{
        margin-top:-700px;
    }

    .registrer-logo{
        display: none;
    }
}
/*end*/

/*login media*/
@media screen and (max-width:750px)
{
    .img-logo img
    {
        margin-top:-70px;
        width:50%;
    }

    .rice-login{
        display:none;
    }
    .formulaire{
        margin-top:-40px;
    }

    .block-form{
        margin-top:20px;
        padding:20px !important;
    }
}
/*end*/

.menu-dashboard{
    display: block !important;
}

/*dashboard media query */
@media screen and (max-width:750px){
  
    .menu-dashboard{
     position:absolute !important;
     z-index:45;
     top:17%;
     width:80%;

    }
    .content-dashboard nav{
        display: block !important;
    }
    
    .content-dashboard{
         width:100%;
         position:inherit !important;
         right:inherit;
         z-index:4;
    }

    .dash-info{
        display: block !important;
        
    }

    .dash-info div{
        margin-top:10px;
    }

    .vente{
      margin-left:0 !important;
      padding:20px !important;
      width:93% !important;
       margin:0 auto !important;
    }

    .identity{
        height:auto;
        width:93%;
        background:#fff;
        margin-left:inherit;
         margin:0 auto !important;
         margin-top:20px !important;
         border-radius: inherit;
    }

    .content-dashboard .profilUser{
        display: none;
    }

    .dash-head form{
       
       margin-top:10px;
       
    }


   
}

/*end*/

/* delivery media */
@media screen and (max-width:750px)
{
    .delivery{
        display: block !important;
    }

    .p-right{
        margin-right:0;
    }

    .table-delivery{
        margin-top:30px;
    }
}

/*media profil*/
@media screen and (max-width:750px)
{
    .content-profil{
        width:100% !important;
    }

    .last-comment{
        height:auto;
        width:70%;
        margin:0 auto;
        margin-top:30px;
    }
    .container-option{
        margin-left:0px;
    }
   
}

/*end*/
/*end*/
/* .menu-dashboard{
    display: none !important;
} */

/*home media */
@media screen and (max-width:750px)
{
    #home--block1
    {
        height:auto;
        position: inherit;
        padding:20px;
       display: flex;
       justify-content: space-between;
    }
    #home--block2
    {
        height:auto;
        position: relative;
        width:100%;
        margin:0 auto;
    }
    #home--block3
    {
        height:auto;
        position: inherit;
        right:0;
        background:#fff;
        border-radius:10px;
     
    }

    #home--block1 div:nth-child(2){
      margin-top:inherit;
       height:auto;
    }
}

/*end*/